<style>
	body {
		margin: 0;
		padding: 0;
	}
	
	video {
		width: 100%;
		height: auto;
		min-width: 100%; 
		min-height: 100%;
	}
	
</style>
<script src="/jquery-latest.min.js" type="text/javascript"></script>


<video id="videoPlayer" autoplay></video>

<!-- lol -->

<!-- <h2><%= name %></h1> -->


<!--

create file elements
hide then all
display first one and play if video
loop all element same way
when new program get new files -> restart session
-->

<script>
	var name = "{{ name }}";
	console.log(name);
	
	var files = null;
	var currentFile = null;

	$.get( "/getFiles", function(data) {
		console.log(data);
		files = data;
		currentFile = 0;
		
		var videoPlayer = document.getElementById('videoPlayer');
		
		videoPlayer.pause();
		videoPlayer.setAttribute('src', files[currentFile]);
		videoPlayer.load();
		videoPlayer.play();
		
		currentFile++;
		
		videoPlayer.onended = function(){
			videoPlayer.pause();
			videoPlayer.setAttribute('src', files[currentFile]);
			videoPlayer.load();
			videoPlayer.play();
			
			if(currentFile >= (files.length-1)){
				currentFile = 0;
			}else{
				currentFile++;
			}
		}
	});
</script>
